<ion-content [fullscreen]="true">

    <ion-row class="ion-justify-content-center divisor imagem">
      <ion-col size="10">
  
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center divisor">
      <ion-col size="10" class="ion-text-center">
        <ion-button routerLink="/login" expand="full" shape="round">Login</ion-button>
        <ion-button color="warning" routerLink="/cadastro" expand="full" shape="round">Criar Conta</ion-button>
      </ion-col>
    </ion-row>
    
</ion-content>
